.menu-button {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  stroke: currentColor;
  padding-top: 24px;
  padding-bottom: 24px;

  @media screen and (min-width: $tablet) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }

  & .icon-cross {
    display: none;
  }

  // &.is-open .icon-cross {
  //   display: none;
  // }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}


// .js-menu-container{
//   position: fixed;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background-color: white;
//   transform: translateX(-100%);
//   transition: transform 500ms $cubic-bezier;

//   &.is-open{
//     transform: translateX(0);
//   }

// }