.container {

  margin-right: auto;
  margin-left: auto;
  max-width: 428px;
  background-color: aqua;
  padding-left: 16px;
  padding-right: 16px;

  
  @media screen and (min-width: $tablet) {
     max-width: 768px;
      background-color: bisque;
    }

  @media screen and (min-width: $desktop) {
    min-width: 1200px;
    background-color: teal;
  }
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

