.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
      width: 428px;
      background-color: aqua;
      text-align: center;
    
    }
  
  @media screen and (min-width: $tablet) {
      min-width: 768px;
      background-color: bisque;
  
    }
  @media screen and (min-width: $desktop) {
    min-width: 1200px;
    background-color: teal;
  }
}

.flex-container {
  @media screen and (min-width: $tablet) {
      min-width: 768px;
      background-color: bisque;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

}

