.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: $mobile) {
      min-width: $mobile;
      background-color: orange;
      color: aqua;
    }

  @media screen and (min-width: $desktop) {
      min-width: $tablet;
      background-color: orange;
      color: aqua;
    }

  @media screen and (min-width: $desktop ) {
    min-width: $desktop;
  }
}