
.logo {
  text-transform: uppercase;
  color: $Iris;
  font-family: Raleway;
  font-size: 18px;
  line-height: 21px;
}

.accent-logo {
  color: $NAVY-BLUE;
}


.nav{
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
  }
}

.contacts-flex {
  display: none;
  @media screen and (min-width: $tablet) {
  display: flex;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
      margin-left: auto;
    }
}
}

.contacts-flex li+li {
  @media screen and (min-width: $desktop) {
  margin-left: 30px;
}
}

.nav-flex {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 76px;
  }
}

.nav-flex li+li {
  @media screen and (min-width: $tablet) {
    margin-left: 40px;
  }
}


.contacts-flex li+li {
  @media screen and (min-width: $desktop) {
    margin-left: 30px;
  }
}

