:root{
  --Iris: #4D5AE5;
  --Ocean: #404BBF;
  --NAVY-BLUE: #2E2F42;
  --SLATE: #434455;
  --LIGHTSLATE: #8E8F99;
  --CLOUD: #F4F4FD;
  --CORNFLOWER: #E7E9FC;
  --GREEN: #31D0AA;
  --GREY: #2E2F42;
  --NAVYBLUEMODAL: #2E2F42;
  --Button: #2196F3;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

$Iris: var(--Iris);
$Ocean: var(--Ocean);
$NAVY-BLUE: var(--NAVY-BLUE);
$SLATE: var(--SLATE);
$LIGHTSLATE: var(--LIGHTSLATE);
$CLOUD:var(--CLOUD);
$CORNFLOWER:var(--CORNFLOWER);
$GREEN: var(--GREEN);
$GREY: var(--GREY);
$NAVYBLUEMODAL:var(--NAVYBLUEMODAL);
$Button:var(--Button);

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);



